[
  {
    "id": 1,
    "roomId": 3,
    "userId": 3,
    "checkInDate": "2020-12-16T00:00:00.000Z",
    "checkOutDate": "2020-12-25T00:00:00.000Z",
    "adultCount": 2,
    "childrenCount": 1,
    "infantsCount": 1,
    "createdAt": "2020-12-07T10:32:03.864Z",
    "updatedAt": "2020-12-07T10:32:03.864Z"
  }
]
